:root {
    /* - colors - */
    --primary-color: #48a240;
    --secondary-color: #45a0cb;
    --heading-text-color: #000000;
    --paragraph-text-color: #333333;

    /* - font sizes - */
    --fs-display-large: 3rem;
    --fs-display-medium: 2.5rem;
    --fs-display-small: 2rem;
    --fs-heading-large: 1.75rem;
    --fs-heading-medium: 1.4rem;
    --fs-heading-small: 1.2rem;
    --fs-body: 1rem;

    /* - font weights - */
    --fw-display: 800;
    --fw-heading: 600;
    --fw-body: 400;

    /* - line heights */
    --lh-heading-multiplier: 1.2;
    --lh-body-multiplier: 1.5;
}

.wrapper {
    min-height: 85vh;
    min-height: 85dvh;
    padding-inline: 5rem;
    padding-bottom: 44px;
}

.title {
    text-align: center;
    color: var(--primary-color);
    padding-block: 44px;
}

.order-overview {
    display: flex;
    flex-direction: column;
}

.product-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.5rem;
    padding-block: 1.5rem;
    border-bottom: 1px solid #dfdfdf;
}

.product-wrapper:last-child {
    border-bottom: none;
}

.product-image {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    height: 100%;
}

.selector {
    height: 100%;
    width: 45px;
    border: 1px solid #dfdfdf;
    border-radius: 0.15rem;
    text-align: center;
    color: #000000;
}

.order-totals {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
}

.back-btn {
    font-size: var(--fs-heading-small);
    cursor: pointer;
    font-weight: var(--fw-display);
    color: var(--primary-color);
    background-color: #ffffff;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.15rem;
    text-transform: uppercase;
    width: max-content;
}

.back-btn:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.empty-image {
    height: 250px;
    width: 100%;
}