:root {
    /* - colors - */
    --primary-color: #48A240;
    --secondary-color: #45A0CB;
    --heading-text-color: #000000;
    --paragraph-text-color: #333333;

    /* - font sizes - */
    --fs-display-large: 3rem;
    --fs-display-medium: 2.5rem;
    --fs-display-small: 2rem;
    --fs-heading-large: 1.75rem;
    --fs-heading-medium: 1.4rem;
    --fs-heading-small: 1.2rem;
    --fs-body: 1rem;

    /* - font weights - */
    --fw-display: 800;
    --fw-heading: 600;
    --fw-body: 400;

    /* - line heights */
    --lh-heading-multiplier: 1.2;
    --lh-body-multiplier: 1.5;
}

.hero-section {
    width: 100vw;
    position: relative;
}

.disclaimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 4px #00000080;
}

.hero-section>.background-image {
    aspect-ratio: 180 / 71;
    width: 100%;
    max-height: 100%;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
}

.product-wrapper>img {
    max-width: 25%;
    max-height: 25%;
}