:root {
    /* - colors - */
    --primary-color: #48a240;
    --secondary-color: #45a0cb;
    --heading-text-color: #000000;
    --paragraph-text-color: #333333;

    /* - font sizes - */
    --fs-display-large: 3rem;
    --fs-display-medium: 2.5rem;
    --fs-display-small: 2rem;
    --fs-heading-large: 1.75rem;
    --fs-heading-medium: 1.4rem;
    --fs-heading-small: 1.2rem;
    --fs-body: 1rem;

    /* - font weights - */
    --fw-display: 800;
    --fw-heading: 600;
    --fw-body: 400;

    /* - line heights */
    --lh-heading-multiplier: 1.2;
    --lh-body-multiplier: 1.5;
}

.wrapper {
    padding-top: 7rem !important;
}

.product-info-section {
    padding-inline: 5rem;
}

.product-name {
    font-size: var(--fs-heading-large);
    font-weight: var(--fw-heading);
    line-height: calc(var(--fs-heading-large) * var(--lh-heading-multiplier));
    margin: 0;
    padding-block: 0.5rem;
}

.product-categorie {
    color: var(--primary-color);
}

.product-info-row {
    max-height: 75dvh;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.product-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 65dvh;
    width: auto;
}

.product-image {
    height: 100%;
    width: auto;
}

.product-info-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.product-price {
    font-size: var(--fs-heading-large);
    font-weight: var(--fw-display);
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.indicator {
    font-weight: var(--fw-display);
    color: #ffffff;
    background-color: #00b5e2;
    padding: 0.3rem;
    border-radius: 0.15rem;
    text-transform: uppercase;
    width: fit-content;
}

.order-btn {
    font-size: var(--fs-heading-small);
    cursor: pointer;
    font-weight: var(--fw-display);
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.15rem;
    text-transform: uppercase;
    width: max-content;
    box-shadow: 0px 2px 0px 0px #276222;
}

.order-btn:hover {
    box-shadow: none;
    transform: translateY(2px);
}

.product-details-section {
    padding-inline: 5rem;
}

.product-details-header {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    font-size: var(--fs-heading-medium);
    font-weight: var(--fw-heading);
    line-height: calc(var(--fs-heading-medium) * var(--lh-heading-multiplier));
    margin: 0;
    border-top: 1px solid #dfdfdf;
}

.subject-header {
    padding-block: 0.5rem;
    font-size: var(--fs-heading-small);
    font-weight: var(--fw-heading);
    line-height: calc(var(--fs-heading-small) * var(--lh-heading-multiplier));
    margin: 0;
}

.description-wrapper {
    padding-top: 0.25rem;
}

.description-paragraph {
    max-width: 640px;
}

.specifications-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.specifications-wrapper > span {
    padding-block: 0.25rem;
}

.specifications-wrapper > .height {
    padding-block: 0;
    padding-bottom: 0.25rem;
}
