:root {
    /* - colors - */
    --primary-color: #48A240;
    --secondary-color: #45A0CB;
    --heading-text-color: #000000;
    --paragraph-text-color: #333333;

    /* - font sizes - */
    --fs-display-large: 3rem;
    --fs-display-medium: 2.5rem;
    --fs-display-small: 2rem;
    --fs-heading-large: 1.75rem;
    --fs-heading-medium: 1.4rem;
    --fs-heading-small: 1.2rem;
    --fs-body: 1rem;

    /* - font weights - */
    --fw-display: 800;
    --fw-heading: 600;
    --fw-body: 400;

    /* - line heights */
    --lh-heading-multiplier: 1.2;
    --lh-body-multiplier: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    min-height: 110dvh;
}

@media (min-width: 1920px) {
    body {
        font-size: calc((var(--fs-body) / 1920) * 100vw);
    }
}

h1 {
    font-size: var(--fs-display-large);
    font-weight: var(--fw-display);
    line-height: calc(var(--fs-display-large) * var(--lh-heading-multiplier));
    margin: 0;
}

h2 {
    font-size: var(--fs-display-medium);
    font-weight: var(--fw-display);
    line-height: calc(var(--fs-display-medium) * var(--lh-heading-multiplier));
    margin: 0;
}

h3 {
    font-size: var(--fs-display-small);
    font-weight: var(--fw-display);
    line-height: calc(var(--fs-display-small) * var(--lh-heading-multiplier));
    margin: 0;
}

h4 {
    font-size: var(--fs-heading-large);
    font-weight: var(--fw-heading);
    line-height: calc(var(--fs-heading-large) * var(--lh-heading-multiplier));
    margin: 0;
}

h5 {
    font-size: var(--fs-heading-medium);
    font-weight: var(--fw-heading);
    line-height: calc(var(--fs-heading-medium) * var(--lh-heading-multiplier));
    margin: 0;
}

h6 {
    font-size: var(--fs-heading-small);
    font-weight: var(--fw-heading);
    line-height: calc(var(--fs-heading-small) * var(--lh-heading-multiplier));
    margin: 0;
}

p {
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
    line-height: calc(var(--fs-body) * var(--lh-body-multiplier));
    margin: 0;
}

.wrapper {
    padding-top: 5rem;
}